<section id="footer">
  <!-- Social -->
  <div id="social">
    <ul class="icons">
      {{ range $.Site.Params.footer.social }}
      <li>
        <a
          href="{{ with .link  }}{{ . }}{{ end }}"
          class="{{ with .icon  }}icon {{ . }}{{ end }}"
          rel="{{ with .rel  }}{{ . }}{{ end }}"
          target="_blank"
          ><span class="label">{{ with .name }}{{ . }}{{ end }}</span></a
        >
      </li>
      {{ end }}
    </ul>
  </div>

  <div class="copyright">
    <ul class="menu">
      <li>
        &copy; {{ with .Site.Params.footer.copyrightOwner }}{{ . }}{{ end }}
      </li>
      <li>
        &nbsp;{{ with .Site.Params.footer.copyrightStartYear }}{{ . }} - {{ end
        }}{{ now.Format "2006" }}</li
      >
      <li>&nbsp;All rights reserved.</li>
    </ul>
  </div>
</section>
