<nav class="main-nav">
  <div class="container">
    <div class="nav-title">
      <h1>{{ .Site.Params.header.title }}</h1>
    </div>
    <ul class="nav-items">
      <li>
        <a href="{{ .Site.BaseURL }}" {{ if .IsHome }}class="active" {{ end }}>
          {{ .Site.Home.Title | default "Home" }}
        </a>
      </li>
      {{ $pages := .Site.RegularPages.ByParam "index" }} {{ range $i, $p :=
      $pages }}
      <li>
        <a
          href="{{ $p.Permalink }}"
          {{
          if
          eq
          $.Permalink
          $p.Permalink
          }}class="active"
          {{
          end
          }}
        >
          {{ $p.Title }}
        </a>
      </li>
      {{ end }}
    </ul>
  </div>
</nav>
